msg-schemas/cards/caaa/caaa.012.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 24 16:14:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.012.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.012.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorBatchTransferResponseV05">
        <xs:sequence>
            <xs:element name="Hdr" type="Header25"/>
            <xs:element name="BtchTrfRspn" type="CardPaymentBatchTransferResponse4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERS2"/>
            <xs:enumeration value="ERS1"/>
            <xs:enumeration value="RPSS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification16">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification17">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentBatchTransferResponse4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxTtls" type="TransactionTotals7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataSet" type="CardPaymentDataSet14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentDataSet14">
        <xs:sequence>
            <xs:element name="DataSetId" type="DataSetIdentification5"/>
            <xs:element name="DataSetRslt" type="ResponseType5"/>
            <xs:element name="RmvDataSet" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DataSetInitr" type="GenericIdentification53"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxTtls" type="TransactionTotals7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RjctdTx" type="CardPaymentDataSet15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentDataSet15">
        <xs:sequence>
            <xs:element name="TxSeqCntr" type="Max9NumericText"/>
            <xs:element name="TxRspn" type="ResponseType1"/>
            <xs:element name="Envt" type="CardPaymentEnvironment46"/>
            <xs:element name="Tx" type="CardPaymentTransactionAdviceResponse5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment46">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrId" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="GenericIdentification32"/>
            <xs:element name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="PaymentCard19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="CardPaymentToken2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentToken2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TknChrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncLvl" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionAdviceResponse5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefId" type="Max35Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element name="Rspn" type="Response1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CONS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType12">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstdData" type="DigestedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SWPK"/>
            <xs:enumeration value="VDPR"/>
            <xs:enumeration value="AQPR"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="TXCP"/>
            <xs:enumeration value="AKCP"/>
            <xs:enumeration value="STRP"/>
            <xs:enumeration value="DLGT"/>
            <xs:enumeration value="MGTP"/>
            <xs:enumeration value="RCLE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataSetIdentification5">
        <xs:sequence>
            <xs:element name="Nm" type="Max256Text"/>
            <xs:element name="Tp" type="DataSetCategory8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DigestedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="Dgst" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrBtchTrfRspn" type="AcceptorBatchTransferResponseV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification53">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification94">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header25">
        <xs:sequence>
            <xs:element name="DwnldTrf" type="TrueFalseIndicator"/>
            <xs:element name="FrmtVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification94"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NetworkParameters4">
        <xs:sequence>
            <xs:element name="NtwkTp" type="NetworkType1Code"/>
            <xs:element name="AdrVal" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Adr" type="NetworkParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCertIdr" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetworkType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPNW"/>
            <xs:enumeration value="PSTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter8">
        <xs:sequence>
            <xs:element name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
            <xs:element name="SaltLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrlrFld" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskdPAN" type="Max30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctTp" type="CardProductType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlainCardData8">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element name="XpryDt" type="Max10Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient4Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
            <xs:element name="KEK" type="KEK4"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="TECH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Response4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType1">
        <xs:sequence>
            <xs:element name="Rspn" type="Response1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseType5">
        <xs:sequence>
            <xs:element name="Rspn" type="Response4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRspnInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sgnr" type="Signer3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgnrId" type="Recipient5Choice"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification17"/>
            <xs:element name="Sgntr" type="Max3000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionTotals7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="POIGrpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element name="Tp" type="TypeTransactionTotals2Code"/>
            <xs:element name="TtlNb" type="Number"/>
            <xs:element name="CmltvAmt" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeTransactionTotals2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CRDR"/>
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="DBTR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="FAIL"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
