msg-schemas/cards/caaa/caaa.005.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 24 16:14:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.005.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.005.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorCancellationRequest5">
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment48"/>
            <xs:element name="Cntxt" type="CardPaymentContext16"/>
            <xs:element name="Tx" type="CardPaymentTransaction56"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorCancellationRequestV05">
        <xs:sequence>
            <xs:element name="Hdr" type="Header30"/>
            <xs:element name="CxlReq" type="AcceptorCancellationRequest5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification53"/>
            <xs:element name="ParamsVrsn" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttendanceContext1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATTD"/>
            <xs:enumeration value="SATT"/>
            <xs:enumeration value="UATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAGC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="BRCD"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="CICC"/>
            <xs:enumeration value="DFLE"/>
            <xs:enumeration value="CTLS"/>
            <xs:enumeration value="ECTL"/>
            <xs:enumeration value="CDFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardFallback1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FFLB"/>
            <xs:enumeration value="SFLB"/>
            <xs:enumeration value="NFLB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentContext16">
        <xs:sequence>
            <xs:element name="PmtCntxt" type="PaymentContext16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleCntxt" type="SaleContext2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment48">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mrchnt" type="Organisation25"/>
            <xs:element name="POI" type="PointOfInteraction5"/>
            <xs:element name="Card" type="PaymentCard20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrDvc" type="CustomerDevice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wllt" type="CustomerDevice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="CardPaymentToken3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardPaymentServiceType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IRES"/>
            <xs:enumeration value="URES"/>
            <xs:enumeration value="PRES"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="FREC"/>
            <xs:enumeration value="RREC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALC"/>
            <xs:enumeration value="CACT"/>
            <xs:enumeration value="CRDP"/>
            <xs:enumeration value="CAFH"/>
            <xs:enumeration value="CAVR"/>
            <xs:enumeration value="CSHW"/>
            <xs:enumeration value="CSHD"/>
            <xs:enumeration value="DEFR"/>
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="ORCR"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="QUCH"/>
            <xs:enumeration value="RFND"/>
            <xs:enumeration value="RESA"/>
            <xs:enumeration value="VALC"/>
            <xs:enumeration value="UNLD"/>
            <xs:enumeration value="CAFT"/>
            <xs:enumeration value="CAFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR"/>
            <xs:enumeration value="DCCV"/>
            <xs:enumeration value="GRTT"/>
            <xs:enumeration value="LOYT"/>
            <xs:enumeration value="NRES"/>
            <xs:enumeration value="PUCO"/>
            <xs:enumeration value="RECP"/>
            <xs:enumeration value="SOAF"/>
            <xs:enumeration value="VCAU"/>
            <xs:enumeration value="INSI"/>
            <xs:enumeration value="INSA"/>
            <xs:enumeration value="CSHB"/>
            <xs:enumeration value="INST"/>
            <xs:enumeration value="NRFD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentToken3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TknChrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstr" type="PaymentTokenIdentifiers1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncLvl" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction52">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefId" type="Max35Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element name="TxTp" type="CardPaymentServiceType5Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlSvc" type="CardPaymentServiceType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcAttr" type="CardPaymentServiceType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRslt" type="CardPaymentTransactionResult3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransaction56">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCaptr" type="TrueFalseIndicator"/>
            <xs:element name="MrchntCtgyCd" type="Min3Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefId" type="Max35Text"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element name="OrgnlTx" type="CardPaymentTransaction52"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
            <xs:element name="TxDtls" type="CardPaymentTransactionDetails34"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionDetails34">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element name="TtlAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionResult3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="GenericIdentification90"/>
            <xs:element name="RspnToAuthstn" type="ResponseType5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnCd" type="Min6Max8Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="CONS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardholderVerificationCapability4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="CHDT"/>
            <xs:enumeration value="MNSG"/>
            <xs:enumeration value="MNVR"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="FDSG"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="FEPN"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="SCEC"/>
            <xs:enumeration value="NBIO"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationAddress5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtctInf" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationCharacteristics2">
        <xs:sequence>
            <xs:element name="ComTp" type="POICommunicationType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RmotPty" type="PartyType7Code"/>
            <xs:element name="Actv" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType15">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="AuthntcdData" type="AuthenticatedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CustomerDevice1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prvdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DisplayCapabilities4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Dstn" type="UserInterface4Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblFrmt" type="OutputFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfLines" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LineWidth" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblLang" type="LanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrCxlReq" type="AcceptorCancellationRequestV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification48">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification53">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification76">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification90">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification94">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header30">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction10Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification53"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification94"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="LocationCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIXD"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="NMDC"/>
            <xs:enumeration value="MOTO"/>
            <xs:enumeration value="HOME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocationCategory3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDR"/>
            <xs:enumeration value="IPMP"/>
            <xs:enumeration value="MPOI"/>
            <xs:enumeration value="MPMP"/>
            <xs:enumeration value="MSLE"/>
            <xs:enumeration value="SSLE"/>
            <xs:enumeration value="VNDG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max104Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="104"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max37Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="37"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max76Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="76"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemoryCharacteristics1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="TtlSz" type="DecimalNumber"/>
            <xs:element name="FreeSz" type="DecimalNumber"/>
            <xs:element name="Unit" type="MemoryUnit1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MemoryUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BYTE"/>
            <xs:enumeration value="EXAB"/>
            <xs:enumeration value="GIGA"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="MEGA"/>
            <xs:enumeration value="PETA"/>
            <xs:enumeration value="TERA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FAUQ"/>
            <xs:enumeration value="FAUP"/>
            <xs:enumeration value="CMPV"/>
            <xs:enumeration value="CMPK"/>
            <xs:enumeration value="FCMV"/>
            <xs:enumeration value="FCMK"/>
            <xs:enumeration value="RVRA"/>
            <xs:enumeration value="RVRR"/>
            <xs:enumeration value="FRVA"/>
            <xs:enumeration value="FRVR"/>
            <xs:enumeration value="CCAQ"/>
            <xs:enumeration value="CCAP"/>
            <xs:enumeration value="CCAV"/>
            <xs:enumeration value="CCAK"/>
            <xs:enumeration value="DGNP"/>
            <xs:enumeration value="DGNQ"/>
            <xs:enumeration value="RCLQ"/>
            <xs:enumeration value="RCLP"/>
            <xs:enumeration value="DCCQ"/>
            <xs:enumeration value="DCCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min3Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min6Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NetworkParameters4">
        <xs:sequence>
            <xs:element name="NtwkTp" type="NetworkType1Code"/>
            <xs:element name="AdrVal" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Adr" type="NetworkParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCertIdr" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetworkType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPNW"/>
            <xs:enumeration value="PSTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OnLineCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFLN"/>
            <xs:enumeration value="ONLN"/>
            <xs:enumeration value="SMON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation25">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnCtgy" type="LocationCategory1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnAndCtct" type="CommunicationAddress5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeData" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Organisation26">
        <xs:sequence>
            <xs:element name="CmonNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max140Text"/>
            <xs:element name="CtryCd" type="ISO3NumericCountryCode"/>
            <xs:element name="MrchntCtgyCd" type="Min3Max4Text"/>
            <xs:element name="RegdIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OutputFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POICommunicationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLTH"/>
            <xs:enumeration value="ETHR"/>
            <xs:enumeration value="GPRS"/>
            <xs:enumeration value="GSMF"/>
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="RS23"/>
            <xs:enumeration value="USBD"/>
            <xs:enumeration value="USBH"/>
            <xs:enumeration value="WIFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentAssessment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPL"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="EVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="OUTD"/>
            <xs:enumeration value="OPER"/>
            <xs:enumeration value="DACT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TLPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SERV"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="APLI"/>
            <xs:enumeration value="EMVK"/>
            <xs:enumeration value="EMVO"/>
            <xs:enumeration value="MDWR"/>
            <xs:enumeration value="DRVR"/>
            <xs:enumeration value="OPST"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="TMSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="ICCA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="PCPT"/>
            <xs:enumeration value="TMGT"/>
            <xs:enumeration value="SALE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskdPAN" type="Max30Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrBIN" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCcyCd" type="Exact3AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctTp" type="CardProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCardData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentContext16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCntxt" type="AttendanceContext1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxEnvt" type="TransactionEnvironment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChanl" type="TransactionChannel3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntMsgCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntLang" type="LanguageCode"/>
            <xs:element name="CardDataNtryMd" type="CardDataReading5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FllbckInd" type="CardFallback1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTokenIdentifiers1">
        <xs:sequence>
            <xs:element name="PrvdrId" type="Max35Text"/>
            <xs:element name="RqstrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlainCardData16">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element name="XpryDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcCd" type="Exact3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck1" type="Max76Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck2" type="Max37Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteraction5">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrpId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cpblties" type="PointOfInteractionCapabilities6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermnlIntgtn" type="LocationCategory3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmpnt" type="PointOfInteractionComponent6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionCapabilities6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardRdngCpblties" type="CardDataReading5Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrdhldrVrfctnCpblties" type="CardholderVerificationCapability4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PINLngthCpblties" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlCdLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MxScrptLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCaptrCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCpblties" type="OnLineCapability1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgCpblties" type="DisplayCapabilities4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponent6">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentType4Code"/>
            <xs:element name="Id" type="PointOfInteractionComponentIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="PointOfInteractionComponentStatus3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StdCmplc" type="GenericIdentification48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtcs" type="PointOfInteractionComponentCharacteristics2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Assmnt" type="PointOfInteractionComponentAssessment1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentAssessment1">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentAssessment1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XprtnDt" type="ISODateTime"/>
            <xs:element name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentCharacteristics2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Mmry" type="MemoryCharacteristics1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Com" type="CommunicationCharacteristics2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyAccsMdls" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcbrIdntyMdls" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyChckVal" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentStatus3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VrsnNb" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="POIComponentStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress18">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient4Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
            <xs:element name="KEK" type="KEK4"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType5">
        <xs:sequence>
            <xs:element name="Rspn" type="Response4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRspnInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SaleContext2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShftNb" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsOrdrNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvcNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryNoteNb" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpnsrdMrchnt" type="Organisation26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpltPmt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSaleData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability5">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification76"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionChannel3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="TLPH"/>
            <xs:enumeration value="ECOM"/>
            <xs:enumeration value="TVPY"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="MOBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionEnvironment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="PRIV"/>
            <xs:enumeration value="PUBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UserInterface4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="MRCP"/>
            <xs:enumeration value="CRDO"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
