msg-schemas/cards/catp/catp.014.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 May 02 15:39:18, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:catp.014.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:catp.014.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATMCassette2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysId" type="Max35Text"/>
            <xs:element name="LogclId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
            <xs:element name="Tp" type="ATMCassetteType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubTp" type="ATMNoteType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaTp" type="ATMMediaType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MdiaCntrs" type="ATMCassetteCounters3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCassetteCounters3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaCtgy" type="ATMMediaType3Code"/>
            <xs:element name="CurNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FlowTtls" type="ATMCassetteCounters4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCassetteCounters4">
        <xs:sequence>
            <xs:element name="Tp" type="ATMCounterType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddedNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmvdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DspnsdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcycldNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrctdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntdNb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMCassetteType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DPST"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="RCYC"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RPLT"/>
            <xs:enumeration value="RTRC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMConfigurationParameter1">
        <xs:sequence>
            <xs:element name="Tp" type="DataSetCategory7Code"/>
            <xs:element name="Vrsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMContext12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svc" type="ATMService13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMCounterType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INQU"/>
            <xs:enumeration value="CTXN"/>
            <xs:enumeration value="CTOF"/>
            <xs:enumeration value="BDAY"/>
            <xs:enumeration value="PRTN"/>
            <xs:enumeration value="OPER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMCustomer6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prfl" type="ATMCustomerProfile4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SelctdLang" type="LanguageCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AuthntcnRslt" type="TransactionVerificationResult5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMCustomerProfile1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDF"/>
            <xs:enumeration value="OREQ"/>
            <xs:enumeration value="PREQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMCustomerProfile4">
        <xs:sequence>
            <xs:element name="RtrvlMd" type="ATMCustomerProfile1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrflRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMDepositCompletionAdvice1">
        <xs:sequence>
            <xs:element name="Envt" type="ATMEnvironment13"/>
            <xs:element name="Cntxt" type="ATMContext12"/>
            <xs:element name="Tx" type="ATMTransaction19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMDepositCompletionAdviceV01">
        <xs:sequence>
            <xs:element name="Hdr" type="Header32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdATMDpstCmpltnAdvc" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMDpstCmpltnAdvc" type="ATMDepositCompletionAdvice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMDepositedMedia1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSeqNb" type="Number"/>
            <xs:element name="MdiaTp" type="ATMMediaType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaCtgy" type="ATMMediaType3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MdiaItms" type="ATMDepositedMedia2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMDepositedMedia2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cnt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdLineFrmt" type="CheckCodeLine1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScnndVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CnfdncLvl" type="Percentage"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMDepositedMedia3">
        <xs:sequence>
            <xs:element name="MdiaTp" type="ATMMediaType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaCtgy" type="ATMMediaType3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MdiaItms" type="ATMDepositedMedia2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMDevice1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDIS"/>
            <xs:enumeration value="DPRN"/>
            <xs:enumeration value="JRNL"/>
            <xs:enumeration value="JPRN"/>
            <xs:enumeration value="RPRN"/>
            <xs:enumeration value="RWDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMEnvironment13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMMgrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstgNtty" type="TerminalHosting1"/>
            <xs:element name="ATM" type="AutomatedTellerMachine9"/>
            <xs:element name="Cstmr" type="ATMCustomer6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="PaymentCard23"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMEquipment1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Manfctr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mdl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApplPrvdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApplNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApplVrsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlNb" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CfgtnParam" type="ATMConfigurationParameter1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMMediaType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARD"/>
            <xs:enumeration value="COIN"/>
            <xs:enumeration value="CMDT"/>
            <xs:enumeration value="CPNS"/>
            <xs:enumeration value="NOTE"/>
            <xs:enumeration value="STMP"/>
            <xs:enumeration value="UDTM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMMediaType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARD"/>
            <xs:enumeration value="COIN"/>
            <xs:enumeration value="CMDT"/>
            <xs:enumeration value="CPNS"/>
            <xs:enumeration value="NOTE"/>
            <xs:enumeration value="STMP"/>
            <xs:enumeration value="UDTM"/>
            <xs:enumeration value="CHCK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMMediaType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="FITN"/>
            <xs:enumeration value="FITU"/>
            <xs:enumeration value="SPCT"/>
            <xs:enumeration value="UNFT"/>
            <xs:enumeration value="UNRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMMessageFunction2">
        <xs:sequence>
            <xs:element name="Fctn" type="MessageFunction11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMSvcCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstSvcCd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMNoteType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLT"/>
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="IDVD"/>
            <xs:enumeration value="SCNT"/>
            <xs:enumeration value="UNFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMService13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMSvcCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstSvcCd" type="Max35Text"/>
            <xs:element name="SvcTp" type="ATMServiceType6Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvcVarntId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshBck" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MultiAcct" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlDpst" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMServiceType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MCHG"/>
            <xs:enumeration value="DPSN"/>
            <xs:enumeration value="DPSV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMTotals1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaTp" type="ATMMediaType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMBal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMCur" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMBalNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMCurNb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMTransaction19">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element name="TxSts" type="ATMTransactionStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Incdnt" type="FailureReason7Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IncdntDtl" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctData" type="CardAccount8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdAcctData" type="ContentInformationType10"/>
            <xs:element name="TtlDpstdAmt" type="AmountAndCurrency1"/>
            <xs:element name="TtlAuthrsdAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlReqdAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtldReqdAmt" type="DetailedAmount16"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlChrg" type="DetailedAmount13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdRct" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RctPrtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnRslt" type="AuthorisationResult13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DpstdMdia" type="ATMDepositedMedia1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ToBeRcncldMdiaCntrs" type="ATMDepositedMedia3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ATMTtls" type="ATMTotals1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Csstt" type="ATMCassette2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMTransactionStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOBT"/>
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="SCSS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AccountChoiceMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACSL"/>
            <xs:enumeration value="ENTR"/>
            <xs:enumeration value="IMAC"/>
            <xs:enumeration value="IMPL"/>
            <xs:enumeration value="NOSL"/>
            <xs:enumeration value="TPSL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AccountIdentification31Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBANIdentifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="UPIC" type="UPICIdentifier"/>
            <xs:element name="DmstAcct" type="SimpleIdentificationInformation4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Acquirer7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrgInstn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brnch" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Action7">
        <xs:sequence>
            <xs:element name="ActnTp" type="ActionType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgToPres" type="ActionMessage4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqToPrfrm" type="MessageFunction11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActionMessage4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Msg" type="Max20000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dvc" type="ATMDevice1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgCnttSgntr" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActionType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DCCQ"/>
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="HAMT"/>
            <xs:enumeration value="LAMT"/>
            <xs:enumeration value="BUSY"/>
            <xs:enumeration value="CPTR"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="CPNS"/>
            <xs:enumeration value="RQST"/>
            <xs:enumeration value="PINL"/>
            <xs:enumeration value="PINR"/>
            <xs:enumeration value="TRCK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndCurrency1">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection43">
        <xs:sequence>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AuthenticationEntity2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICCD"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ISSR"/>
            <xs:enumeration value="TRML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TOKA"/>
            <xs:enumeration value="BIOM"/>
            <xs:enumeration value="MOBL"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="FPIN"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PSWD"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SCNL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthorisationResult13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="PartyType16Code"/>
            <xs:element name="AuthstnRspn" type="ResponseType7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RspnTrac" type="ResponseType8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnCd" type="Min6Max8Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Actn" type="Action7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AutomatedTellerMachine9">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text"/>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lctn" type="PostalAddress17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnCtgy" type="TransactionEnvironment2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cpblties" type="PointOfInteractionCapabilities7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Eqpmnt" type="ATMEquipment1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardAccount8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SelctnMtd" type="AccountChoiceMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SelctdAcctTp" type="CardAccountType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="NameAndAddress3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdr" type="AccountIdentification31Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification72Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="AmountAndDirection43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalDispFlg" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfltAcctInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardAccountType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CTDP"/>
            <xs:enumeration value="CHCK"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="CDBT"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="EPRS"/>
            <xs:enumeration value="HEQL"/>
            <xs:enumeration value="ISTL"/>
            <xs:enumeration value="INVS"/>
            <xs:enumeration value="LCDT"/>
            <xs:enumeration value="MBNW"/>
            <xs:enumeration value="MNMK"/>
            <xs:enumeration value="MNMC"/>
            <xs:enumeration value="MTGL"/>
            <xs:enumeration value="RTRM"/>
            <xs:enumeration value="RVLV"/>
            <xs:enumeration value="SVNG"/>
            <xs:enumeration value="STBD"/>
            <xs:enumeration value="UVRL"/>
            <xs:enumeration value="PRPD"/>
            <xs:enumeration value="FLTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAGC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="BRCD"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="CICC"/>
            <xs:enumeration value="DFLE"/>
            <xs:enumeration value="CTLS"/>
            <xs:enumeration value="ECTL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ECTL"/>
            <xs:enumeration value="CICC"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="CTLS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardFallback1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FFLB"/>
            <xs:enumeration value="SFLB"/>
            <xs:enumeration value="NFLB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardholderVerificationCapability3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="FEPN"/>
            <xs:enumeration value="FDSG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="PCOD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CheckCodeLine1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMC7"/>
            <xs:enumeration value="E13B"/>
            <xs:enumeration value="OCRA"/>
            <xs:enumeration value="OCRB"/>
            <xs:enumeration value="OCRF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType15">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="AuthntcdData" type="AuthenticatedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATMC"/>
            <xs:enumeration value="ATMP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="CRAP"/>
            <xs:enumeration value="CPRC"/>
            <xs:enumeration value="OEXR"/>
            <xs:enumeration value="AMNT"/>
            <xs:enumeration value="LOCC"/>
            <xs:enumeration value="MNOC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedAmount13">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAmount16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtToDpst" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshBckAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Fees" type="DetailedAmount13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dontn" type="DetailedAmount13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisplayCapabilities5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Dstn" type="UserInterface5Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblFrmt" type="OutputFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfLines" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LineWidth" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblLang" type="LanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ATMDpstCmpltnAdvc" type="ATMDepositCompletionAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FailureReason7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDCP"/>
            <xs:enumeration value="CDCL"/>
            <xs:enumeration value="CDER"/>
            <xs:enumeration value="CUCL"/>
            <xs:enumeration value="CUDC"/>
            <xs:enumeration value="CDFG"/>
            <xs:enumeration value="FILL"/>
            <xs:enumeration value="MALF"/>
            <xs:enumeration value="NDCL"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SFRD"/>
            <xs:enumeration value="TIMO"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="UCPT"/>
            <xs:enumeration value="UCMP"/>
            <xs:enumeration value="USND"/>
            <xs:enumeration value="CSRV"/>
            <xs:enumeration value="CDRT"/>
            <xs:enumeration value="CUTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification77">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicCoordinates1">
        <xs:sequence>
            <xs:element name="Lat" type="Max16Text"/>
            <xs:element name="Long" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicLocation1Choice">
        <xs:choice>
            <xs:element name="GeogcCordints" type="GeographicCoordinates1"/>
            <xs:element name="UTMCordints" type="UTMCoordinates1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Header32">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ATMMessageFunction2"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcStat" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max104Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="104"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max37Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="37"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max76Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="76"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN"/>
            <xs:enumeration value="CMPA"/>
            <xs:enumeration value="CMPD"/>
            <xs:enumeration value="ACMD"/>
            <xs:enumeration value="DVCC"/>
            <xs:enumeration value="DIAQ"/>
            <xs:enumeration value="DIAP"/>
            <xs:enumeration value="GSTS"/>
            <xs:enumeration value="INQQ"/>
            <xs:enumeration value="INQP"/>
            <xs:enumeration value="KYAQ"/>
            <xs:enumeration value="KYAP"/>
            <xs:enumeration value="PINQ"/>
            <xs:enumeration value="PINP"/>
            <xs:enumeration value="RJAQ"/>
            <xs:enumeration value="RJAP"/>
            <xs:enumeration value="WITV"/>
            <xs:enumeration value="WITK"/>
            <xs:enumeration value="WITQ"/>
            <xs:enumeration value="WITP"/>
            <xs:enumeration value="INQC"/>
            <xs:enumeration value="H2AP"/>
            <xs:enumeration value="H2AQ"/>
            <xs:enumeration value="TMOP"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="SKSC"/>
            <xs:enumeration value="SSTS"/>
            <xs:enumeration value="DPSK"/>
            <xs:enumeration value="DPSV"/>
            <xs:enumeration value="DPSQ"/>
            <xs:enumeration value="DPSP"/>
            <xs:enumeration value="EXPK"/>
            <xs:enumeration value="EXPV"/>
            <xs:enumeration value="TRFQ"/>
            <xs:enumeration value="TRFP"/>
            <xs:enumeration value="RPTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min6Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress3">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="SREF"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification72Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PartyType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ATMG"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="HSTG"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="OATM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="OTRM"/>
            <xs:enumeration value="BKAF"/>
            <xs:enumeration value="BKAT"/>
            <xs:enumeration value="ATMG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard23">
        <xs:sequence>
            <xs:element name="CardDataNtryMd" type="CardDataReading1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FllbckInd" type="CardFallback1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCcyCd" type="Exact3AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ElctrncPrsBal" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Percentage">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlainCardData19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck1" type="Max76Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck2" type="Max37Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PointOfInteractionCapabilities7">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardRdData" type="CardDataReading4Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardWrtData" type="CardDataReading4Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Authntcn" type="CardholderVerificationCapability3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PINLngthCpblties" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlCdLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MxScrptLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCaptrCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WdrwlMdia" type="ATMMediaType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DpstdMdia" type="ATMMediaType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgCpblties" type="DisplayCapabilities5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress17">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GLctn" type="GeographicLocation1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient4Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
            <xs:element name="KEK" type="KEK4"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType7">
        <xs:sequence>
            <xs:element name="Rspn" type="Response4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="ResultDetail4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRspnInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponseType8">
        <xs:sequence>
            <xs:element name="RspndrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdfctn" type="Max35Text"/>
            <xs:element name="Rspn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRspnInf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultDetail4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTF"/>
            <xs:enumeration value="ACQS"/>
            <xs:enumeration value="AMLV"/>
            <xs:enumeration value="AMTA"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="BANK"/>
            <xs:enumeration value="CRDR"/>
            <xs:enumeration value="CRDF"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="CTVG"/>
            <xs:enumeration value="DBER"/>
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="TXNL"/>
            <xs:enumeration value="AMTD"/>
            <xs:enumeration value="NMBD"/>
            <xs:enumeration value="CRDX"/>
            <xs:enumeration value="FDCL"/>
            <xs:enumeration value="FMTR"/>
            <xs:enumeration value="TXNG"/>
            <xs:enumeration value="FNDI"/>
            <xs:enumeration value="ACPI"/>
            <xs:enumeration value="AMTI"/>
            <xs:enumeration value="ADDI"/>
            <xs:enumeration value="BRHI"/>
            <xs:enumeration value="CHDI"/>
            <xs:enumeration value="CRDI"/>
            <xs:enumeration value="CTFV"/>
            <xs:enumeration value="AMTO"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="TKKO"/>
            <xs:enumeration value="SGNI"/>
            <xs:enumeration value="TKID"/>
            <xs:enumeration value="TXNV"/>
            <xs:enumeration value="DATI"/>
            <xs:enumeration value="ISSP"/>
            <xs:enumeration value="ISSF"/>
            <xs:enumeration value="ISSO"/>
            <xs:enumeration value="ISST"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="KEYS"/>
            <xs:enumeration value="LBLA"/>
            <xs:enumeration value="CRDL"/>
            <xs:enumeration value="MACR"/>
            <xs:enumeration value="MACK"/>
            <xs:enumeration value="ICCM"/>
            <xs:enumeration value="PINN"/>
            <xs:enumeration value="CRDA"/>
            <xs:enumeration value="LBLU"/>
            <xs:enumeration value="PINA"/>
            <xs:enumeration value="NPRA"/>
            <xs:enumeration value="OFFL"/>
            <xs:enumeration value="ONLP"/>
            <xs:enumeration value="NPRC"/>
            <xs:enumeration value="TXNM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="BALO"/>
            <xs:enumeration value="SEQO"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINS"/>
            <xs:enumeration value="PINX"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="QMAX"/>
            <xs:enumeration value="RECD"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="SECV"/>
            <xs:enumeration value="SRVU"/>
            <xs:enumeration value="SFWE"/>
            <xs:enumeration value="SPCC"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="SRCH"/>
            <xs:enumeration value="CNTC"/>
            <xs:enumeration value="FRDS"/>
            <xs:enumeration value="SYSP"/>
            <xs:enumeration value="SYSM"/>
            <xs:enumeration value="TRMI"/>
            <xs:enumeration value="ACTT"/>
            <xs:enumeration value="TTLV"/>
            <xs:enumeration value="TXNU"/>
            <xs:enumeration value="TXND"/>
            <xs:enumeration value="ORGF"/>
            <xs:enumeration value="UNBO"/>
            <xs:enumeration value="UNBP"/>
            <xs:enumeration value="UNBC"/>
            <xs:enumeration value="CMKY"/>
            <xs:enumeration value="CRDU"/>
            <xs:enumeration value="SVSU"/>
            <xs:enumeration value="VNDR"/>
            <xs:enumeration value="VNDF"/>
            <xs:enumeration value="AMTW"/>
            <xs:enumeration value="NMBW"/>
            <xs:enumeration value="CRDW"/>
            <xs:enumeration value="MEDI"/>
            <xs:enumeration value="SRVI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TerminalHosting1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctgy" type="TransactionEnvironment3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability4">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification77"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionEnvironment2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIV"/>
            <xs:enumeration value="PUBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionEnvironment3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRCH"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionVerificationResult5">
        <xs:sequence>
            <xs:element name="Mtd" type="AuthenticationMethod7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VrfctnNtty" type="AuthenticationEntity2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Verification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRslt" type="Max500Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UTMCoordinates1">
        <xs:sequence>
            <xs:element name="UTMZone" type="Max16Text"/>
            <xs:element name="UTMEstwrd" type="Number"/>
            <xs:element name="UTMNrthwrd" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UserInterface5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="CRDO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Verification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="SUCC"/>
            <xs:enumeration value="ERRR"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
