msg-schemas/cards/catp/catp.005.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 May 02 15:39:18, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:catp.005.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:catp.005.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ATMCommand4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABAL"/>
            <xs:enumeration value="ASTS"/>
            <xs:enumeration value="CFGT"/>
            <xs:enumeration value="CCNT"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="SNDM"/>
            <xs:enumeration value="RPTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMCommand7">
        <xs:sequence>
            <xs:element name="Tp" type="ATMCommand4Code"/>
            <xs:element name="Urgcy" type="TMSContactLevel2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdId" type="ATMCommandIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdParams" type="ATMCommandParameters1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prcr" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandParameters1Choice">
        <xs:choice>
            <xs:element name="ATMReqrdGblSts" type="ATMStatus1Code"/>
            <xs:element name="XpctdMsgFctn" type="MessageFunction8Code"/>
            <xs:element name="ReqrdCfgtnParam" type="ATMConfigurationParameter1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ATMConfigurationParameter1">
        <xs:sequence>
            <xs:element name="Tp" type="DataSetCategory7Code"/>
            <xs:element name="Vrsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMMessageFunction2">
        <xs:sequence>
            <xs:element name="Fctn" type="MessageFunction11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMSvcCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstSvcCd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMReject2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctInitrId" type="Max35Text"/>
            <xs:element name="RjctRsn" type="RejectReason1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max500Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmd" type="ATMCommand7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgInErr" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMRejectV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header33"/>
            <xs:element name="ATMRjct" type="ATMReject2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INSV"/>
            <xs:enumeration value="OUTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATMC"/>
            <xs:enumeration value="ATMP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="CRAP"/>
            <xs:enumeration value="CPRC"/>
            <xs:enumeration value="OEXR"/>
            <xs:enumeration value="AMNT"/>
            <xs:enumeration value="LOCC"/>
            <xs:enumeration value="MNOC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ATMRjct" type="ATMRejectV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification77">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header33">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ATMMessageFunction2"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcStat" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN"/>
            <xs:enumeration value="CMPA"/>
            <xs:enumeration value="CMPD"/>
            <xs:enumeration value="ACMD"/>
            <xs:enumeration value="DVCC"/>
            <xs:enumeration value="DIAQ"/>
            <xs:enumeration value="DIAP"/>
            <xs:enumeration value="GSTS"/>
            <xs:enumeration value="INQQ"/>
            <xs:enumeration value="INQP"/>
            <xs:enumeration value="KYAQ"/>
            <xs:enumeration value="KYAP"/>
            <xs:enumeration value="PINQ"/>
            <xs:enumeration value="PINP"/>
            <xs:enumeration value="RJAQ"/>
            <xs:enumeration value="RJAP"/>
            <xs:enumeration value="WITV"/>
            <xs:enumeration value="WITK"/>
            <xs:enumeration value="WITQ"/>
            <xs:enumeration value="WITP"/>
            <xs:enumeration value="INQC"/>
            <xs:enumeration value="H2AP"/>
            <xs:enumeration value="H2AQ"/>
            <xs:enumeration value="TMOP"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="SKSC"/>
            <xs:enumeration value="SSTS"/>
            <xs:enumeration value="DPSK"/>
            <xs:enumeration value="DPSV"/>
            <xs:enumeration value="DPSQ"/>
            <xs:enumeration value="DPSP"/>
            <xs:enumeration value="EXPK"/>
            <xs:enumeration value="EXPV"/>
            <xs:enumeration value="TRFQ"/>
            <xs:enumeration value="TRFP"/>
            <xs:enumeration value="RPTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN"/>
            <xs:enumeration value="GSTS"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="INQC"/>
            <xs:enumeration value="KEYQ"/>
            <xs:enumeration value="SSTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ATMG"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="HSTG"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="OATM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="IMSG"/>
            <xs:enumeration value="PARS"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="INTP"/>
            <xs:enumeration value="RCPP"/>
            <xs:enumeration value="DPMG"/>
            <xs:enumeration value="VERS"/>
            <xs:enumeration value="MSGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TMSContactLevel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="CRIT"/>
            <xs:enumeration value="DTIM"/>
            <xs:enumeration value="ENCS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Traceability4">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification77"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
