msg-schemas/cards/cain/cain.008.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.4) on 2015 Dec 08 16:32:15-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cain.008.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cain.008.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcquirerReconciliationResponse1">
        <xs:sequence>
            <xs:element name="Envt" type="CardTransactionEnvironment5"/>
            <xs:element name="Tx" type="CardTransaction10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection41">
        <xs:sequence>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardTransaction10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="TransactionIdentifier2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmDt" type="ISODate"/>
            <xs:element name="InitrTxDtTm" type="ISODateTime"/>
            <xs:element name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxLifeCyclId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnTtls" type="TransactionTotals4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtNetRcncltn" type="AmountAndDirection41"/>
            <xs:element name="TxRspn" type="ResponseType2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardTransactionEnvironment5">
        <xs:sequence>
            <xs:element name="SndgInstn" type="GenericIdentification73"/>
            <xs:element name="RcvgInstn" type="GenericIdentification73"/>
            <xs:element name="SttlmInstn" type="GenericIdentification73"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType15">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="AuthntcdData" type="AuthenticatedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RcncltnRspn" type="ReconciliationResponse"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification73">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification74">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header17">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction6Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification73"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification73"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCAV"/>
            <xs:enumeration value="RCAN"/>
            <xs:enumeration value="RCAQ"/>
            <xs:enumeration value="REJA"/>
            <xs:enumeration value="REVV"/>
            <xs:enumeration value="REVN"/>
            <xs:enumeration value="REVQ"/>
            <xs:enumeration value="RCPV"/>
            <xs:enumeration value="RCPN"/>
            <xs:enumeration value="RCPQ"/>
            <xs:enumeration value="REJP"/>
            <xs:enumeration value="AUTV"/>
            <xs:enumeration value="AUTN"/>
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FNCV"/>
            <xs:enumeration value="FNCN"/>
            <xs:enumeration value="FNCQ"/>
            <xs:enumeration value="RCIV"/>
            <xs:enumeration value="RCIN"/>
            <xs:enumeration value="RCIQ"/>
            <xs:enumeration value="REJI"/>
            <xs:enumeration value="KEYV"/>
            <xs:enumeration value="KEYQ"/>
            <xs:enumeration value="MGTV"/>
            <xs:enumeration value="MGTQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ATMG"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="HSTG"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="OATM"/>
            <xs:enumeration value="OPOI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="SCHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Recipient4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
                <xs:element name="KEK" type="KEK4"/>
                <xs:element name="KeyIdr" type="KEKIdentifier2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
                <xs:element name="KeyIdr" type="KEKIdentifier2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReconciliationResponse">
        <xs:sequence>
            <xs:element name="Hdr" type="Header17"/>
            <xs:element name="RcncltnRspn" type="AcquirerReconciliationResponse1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="FRTH"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="UNPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType2">
        <xs:sequence>
            <xs:element name="Rslt" type="Response3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltDtls" type="ResultDetail1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsltInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultDetail1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTF"/>
            <xs:enumeration value="ACQS"/>
            <xs:enumeration value="AMLV"/>
            <xs:enumeration value="AMTA"/>
            <xs:enumeration value="BANK"/>
            <xs:enumeration value="CRDR"/>
            <xs:enumeration value="CRDF"/>
            <xs:enumeration value="CSHI"/>
            <xs:enumeration value="CSHE"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="CTVG"/>
            <xs:enumeration value="DBER"/>
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="TXNL"/>
            <xs:enumeration value="CRDX"/>
            <xs:enumeration value="FMTR"/>
            <xs:enumeration value="ACEF"/>
            <xs:enumeration value="TXNG"/>
            <xs:enumeration value="FNDI"/>
            <xs:enumeration value="ACPI"/>
            <xs:enumeration value="AMTI"/>
            <xs:enumeration value="CHDI"/>
            <xs:enumeration value="CRDI"/>
            <xs:enumeration value="CTFV"/>
            <xs:enumeration value="NPRA"/>
            <xs:enumeration value="PINA"/>
            <xs:enumeration value="LBLU"/>
            <xs:enumeration value="CRDA"/>
            <xs:enumeration value="PINN"/>
            <xs:enumeration value="MACK"/>
            <xs:enumeration value="MACR"/>
            <xs:enumeration value="CRDL"/>
            <xs:enumeration value="LBLA"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="ISST"/>
            <xs:enumeration value="ISSO"/>
            <xs:enumeration value="ISSF"/>
            <xs:enumeration value="ISSP"/>
            <xs:enumeration value="DATI"/>
            <xs:enumeration value="TXNV"/>
            <xs:enumeration value="TKID"/>
            <xs:enumeration value="TKKO"/>
            <xs:enumeration value="CSCV"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="AMTO"/>
            <xs:enumeration value="NPRC"/>
            <xs:enumeration value="OFFL"/>
            <xs:enumeration value="ONLP"/>
            <xs:enumeration value="TXNM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="BALO"/>
            <xs:enumeration value="SEQO"/>
            <xs:enumeration value="AMTL"/>
            <xs:enumeration value="NMBL"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="PINS"/>
            <xs:enumeration value="PINX"/>
            <xs:enumeration value="QMAX"/>
            <xs:enumeration value="RECD"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="SECV"/>
            <xs:enumeration value="SFWE"/>
            <xs:enumeration value="SPCC"/>
            <xs:enumeration value="CRDW"/>
            <xs:enumeration value="NMBW"/>
            <xs:enumeration value="AMTW"/>
            <xs:enumeration value="VNDF"/>
            <xs:enumeration value="VNDR"/>
            <xs:enumeration value="SVSU"/>
            <xs:enumeration value="CRDU"/>
            <xs:enumeration value="CMKY"/>
            <xs:enumeration value="UNBC"/>
            <xs:enumeration value="UNBP"/>
            <xs:enumeration value="UNBO"/>
            <xs:enumeration value="ORGF"/>
            <xs:enumeration value="TXND"/>
            <xs:enumeration value="TXNU"/>
            <xs:enumeration value="TTLV"/>
            <xs:enumeration value="ACTT"/>
            <xs:enumeration value="SYSM"/>
            <xs:enumeration value="SYSP"/>
            <xs:enumeration value="FRDS"/>
            <xs:enumeration value="CNTC"/>
            <xs:enumeration value="SRCH"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="ACKO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Traceability3">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification74"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier2">
        <xs:sequence>
            <xs:element name="RcncltnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionTotals4">
        <xs:sequence>
            <xs:element name="TtlCdt" type="TransactionTotals5"/>
            <xs:element name="TtlDbt" type="TransactionTotals5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNb" type="TransactionTotals6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionTotals5">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Nb" type="Number"/>
            <xs:element name="ChrgBckAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="ChrgBckNb" type="Number"/>
            <xs:element name="RvslAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="RvslNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeAmts" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionTotals6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Authstn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnRvsl" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nqry" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NqryRvsl" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pmts" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtRvsl" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trf" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfRvsl" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeColltn" type="Number"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
