msg-schemas/cards/cain/cain.013.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.4) on 2015 Dec 08 16:32:13-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cain.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cain.013.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorRejection4">
        <xs:sequence>
            <xs:element name="RjctRsn" type="RejectReason1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ErrRptg" type="ErrorReporting1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgInErr" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerRejection">
        <xs:sequence>
            <xs:element name="Hdr" type="Header19"/>
            <xs:element name="Rjct" type="AcceptorRejection4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcqrrRjctn" type="AcquirerRejection"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorReporting1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Desc" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification73">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification74">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header19">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMsgFctn" type="MessageFunction6Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPty" type="GenericIdentification73"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification73"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCAV"/>
            <xs:enumeration value="RCAN"/>
            <xs:enumeration value="RCAQ"/>
            <xs:enumeration value="REJA"/>
            <xs:enumeration value="REVV"/>
            <xs:enumeration value="REVN"/>
            <xs:enumeration value="REVQ"/>
            <xs:enumeration value="RCPV"/>
            <xs:enumeration value="RCPN"/>
            <xs:enumeration value="RCPQ"/>
            <xs:enumeration value="REJP"/>
            <xs:enumeration value="AUTV"/>
            <xs:enumeration value="AUTN"/>
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FNCV"/>
            <xs:enumeration value="FNCN"/>
            <xs:enumeration value="FNCQ"/>
            <xs:enumeration value="RCIV"/>
            <xs:enumeration value="RCIN"/>
            <xs:enumeration value="RCIQ"/>
            <xs:enumeration value="REJI"/>
            <xs:enumeration value="KEYV"/>
            <xs:enumeration value="KEYQ"/>
            <xs:enumeration value="MGTV"/>
            <xs:enumeration value="MGTQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ATMG"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="HSTG"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="OATM"/>
            <xs:enumeration value="OPOI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="SCHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="IMSG"/>
            <xs:enumeration value="PARS"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="INTP"/>
            <xs:enumeration value="RCPP"/>
            <xs:enumeration value="DPMG"/>
            <xs:enumeration value="VERS"/>
            <xs:enumeration value="MSGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Traceability3">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification74"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
