msg-schemas/cards/cain/cain.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.4) on 2015 Dec 08 16:32:13-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cain.005.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cain.005.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Acquirer6">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryCd" type="ISO3NumericCountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerReversalInitiation">
        <xs:sequence>
            <xs:element name="Hdr" type="Header18"/>
            <xs:element name="RvslInitn" type="AcquirerReversalInitiation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerReversalInitiation1">
        <xs:sequence>
            <xs:element name="Envt" type="CardTransactionEnvironment3"/>
            <xs:element name="Tx" type="CardTransaction7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection41">
        <xs:sequence>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALC"/>
            <xs:enumeration value="CACT"/>
            <xs:enumeration value="CRDP"/>
            <xs:enumeration value="CAFT"/>
            <xs:enumeration value="CAFL"/>
            <xs:enumeration value="CAFH"/>
            <xs:enumeration value="CAVR"/>
            <xs:enumeration value="CSHW"/>
            <xs:enumeration value="CSHD"/>
            <xs:enumeration value="CHWD"/>
            <xs:enumeration value="DEFR"/>
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="ORCR"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="PINU"/>
            <xs:enumeration value="QUCH"/>
            <xs:enumeration value="RFND"/>
            <xs:enumeration value="RESA"/>
            <xs:enumeration value="UNLD"/>
            <xs:enumeration value="VALC"/>
            <xs:enumeration value="DADJ"/>
            <xs:enumeration value="CADJ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentToken4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="Max10Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TknChrtc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstr" type="PaymentTokenIdentifiers1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncLvl" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardTransaction3">
        <xs:sequence>
            <xs:element name="AccptrTxDtTm" type="ISODateTime"/>
            <xs:element name="InitrTxId" type="Max35Text"/>
            <xs:element name="InitrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardTransaction7">
        <xs:sequence>
            <xs:element name="TxTp" type="CardPaymentServiceType7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="TransactionIdentifier2"/>
            <xs:element name="AccptrTxDtTm" type="ISODateTime"/>
            <xs:element name="AccptrTxId" type="Max35Text"/>
            <xs:element name="InitrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxLifeCyclId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxLifeCyclSeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxLifeCyclSeqCntr" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrTxRef" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardIssrRefData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTx" type="CardTransaction3"/>
            <xs:element name="TxDtls" type="CardTransactionDetail5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRspn" type="ResponseType2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardTransactionAmount5">
        <xs:sequence>
            <xs:element name="TtlAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgTxAmt" type="DetailedAmount8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnTxAmt" type="DetailedAmount8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardTransactionDetail5">
        <xs:sequence>
            <xs:element name="TxAmts" type="CardTransactionAmount5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxFees" type="DetailedAmount11"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlAmts" type="DetailedAmount10"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MsgRsn" type="MessageReason1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max10000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardTransactionEnvironment3">
        <xs:sequence>
            <xs:element name="Acqrr" type="Acquirer6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSchmeId" type="Max35Text"/>
            <xs:element name="Accptr" type="Organisation19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermnlId" type="GenericIdentification32"/>
            <xs:element name="Card" type="PaymentCard14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrDvc" type="CustomerDevice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wllt" type="CustomerDevice1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="CardPaymentToken4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType15">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="AuthntcdData" type="AuthenticatedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CustomerDevice1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prvdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAmount10">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTp" type="Max35Text"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAmount11">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTp" type="Max35Text"/>
            <xs:element name="Amt" type="AmountAndDirection41"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlAmt" type="AmountAndDirection41"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAmount8">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Labl" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AcqrrRvslInitn" type="AcquirerReversalInitiation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification32">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification73">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification74">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header18">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction6Code"/>
            <xs:element name="OrgnlMsgFctn" type="MessageFunction6Code"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification73"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification73"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Max10000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCAV"/>
            <xs:enumeration value="RCAN"/>
            <xs:enumeration value="RCAQ"/>
            <xs:enumeration value="REJA"/>
            <xs:enumeration value="REVV"/>
            <xs:enumeration value="REVN"/>
            <xs:enumeration value="REVQ"/>
            <xs:enumeration value="RCPV"/>
            <xs:enumeration value="RCPN"/>
            <xs:enumeration value="RCPQ"/>
            <xs:enumeration value="REJP"/>
            <xs:enumeration value="AUTV"/>
            <xs:enumeration value="AUTN"/>
            <xs:enumeration value="AUTQ"/>
            <xs:enumeration value="AUTP"/>
            <xs:enumeration value="FNCV"/>
            <xs:enumeration value="FNCN"/>
            <xs:enumeration value="FNCQ"/>
            <xs:enumeration value="RCIV"/>
            <xs:enumeration value="RCIN"/>
            <xs:enumeration value="RCIQ"/>
            <xs:enumeration value="REJI"/>
            <xs:enumeration value="KEYV"/>
            <xs:enumeration value="KEYQ"/>
            <xs:enumeration value="MGTV"/>
            <xs:enumeration value="MGTQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASTD"/>
            <xs:enumeration value="AMNT"/>
            <xs:enumeration value="ASPC"/>
            <xs:enumeration value="CDCL"/>
            <xs:enumeration value="COFF"/>
            <xs:enumeration value="CRND"/>
            <xs:enumeration value="CRTN"/>
            <xs:enumeration value="CUNB"/>
            <xs:enumeration value="CCAN"/>
            <xs:enumeration value="KDAC"/>
            <xs:enumeration value="ERRP"/>
            <xs:enumeration value="FLRL"/>
            <xs:enumeration value="IDPS"/>
            <xs:enumeration value="KINV"/>
            <xs:enumeration value="ISGN"/>
            <xs:enumeration value="ISTD"/>
            <xs:enumeration value="ITIM"/>
            <xs:enumeration value="IUNV"/>
            <xs:enumeration value="ENDK"/>
            <xs:enumeration value="MLFC"/>
            <xs:enumeration value="FDCL"/>
            <xs:enumeration value="NDCL"/>
            <xs:enumeration value="FORC"/>
            <xs:enumeration value="KSYN"/>
            <xs:enumeration value="UDSP"/>
            <xs:enumeration value="USND"/>
            <xs:enumeration value="UCMP"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="TIMO"/>
            <xs:enumeration value="TUNB"/>
            <xs:enumeration value="TRND"/>
            <xs:enumeration value="TOFF"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="KSEC"/>
            <xs:enumeration value="RUNV"/>
            <xs:enumeration value="RTIM"/>
            <xs:enumeration value="RSTD"/>
            <xs:enumeration value="RSGN"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation19">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification32"/>
            <xs:element name="CmonNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SelctdLang" type="LanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeData" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ATMG"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="HSTG"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="OATM"/>
            <xs:enumeration value="OPOI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="TAXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="SCHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentCard14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrBIN" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCcyCd" type="Exact3AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentTokenIdentifiers1">
        <xs:sequence>
            <xs:element name="PrvdrId" type="Max35Text"/>
            <xs:element name="RqstrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlainCardData11">
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcCd" type="Exact3NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Recipient4Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
                <xs:element name="KEK" type="KEK4"/>
                <xs:element name="KeyIdr" type="KEKIdentifier2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
                <xs:element name="KeyIdr" type="KEKIdentifier2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="FRTH"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="UNPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType2">
        <xs:sequence>
            <xs:element name="Rslt" type="Response3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltDtls" type="ResultDetail1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsltInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultDetail1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTF"/>
            <xs:enumeration value="ACQS"/>
            <xs:enumeration value="AMLV"/>
            <xs:enumeration value="AMTA"/>
            <xs:enumeration value="BANK"/>
            <xs:enumeration value="CRDR"/>
            <xs:enumeration value="CRDF"/>
            <xs:enumeration value="CSHI"/>
            <xs:enumeration value="CSHE"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="CTVG"/>
            <xs:enumeration value="DBER"/>
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="TXNL"/>
            <xs:enumeration value="CRDX"/>
            <xs:enumeration value="FMTR"/>
            <xs:enumeration value="ACEF"/>
            <xs:enumeration value="TXNG"/>
            <xs:enumeration value="FNDI"/>
            <xs:enumeration value="ACPI"/>
            <xs:enumeration value="AMTI"/>
            <xs:enumeration value="CHDI"/>
            <xs:enumeration value="CRDI"/>
            <xs:enumeration value="CTFV"/>
            <xs:enumeration value="NPRA"/>
            <xs:enumeration value="PINA"/>
            <xs:enumeration value="LBLU"/>
            <xs:enumeration value="CRDA"/>
            <xs:enumeration value="PINN"/>
            <xs:enumeration value="MACK"/>
            <xs:enumeration value="MACR"/>
            <xs:enumeration value="CRDL"/>
            <xs:enumeration value="LBLA"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="ISST"/>
            <xs:enumeration value="ISSO"/>
            <xs:enumeration value="ISSF"/>
            <xs:enumeration value="ISSP"/>
            <xs:enumeration value="DATI"/>
            <xs:enumeration value="TXNV"/>
            <xs:enumeration value="TKID"/>
            <xs:enumeration value="TKKO"/>
            <xs:enumeration value="CSCV"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="AMTO"/>
            <xs:enumeration value="NPRC"/>
            <xs:enumeration value="OFFL"/>
            <xs:enumeration value="ONLP"/>
            <xs:enumeration value="TXNM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="BALO"/>
            <xs:enumeration value="SEQO"/>
            <xs:enumeration value="AMTL"/>
            <xs:enumeration value="NMBL"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="PINS"/>
            <xs:enumeration value="PINX"/>
            <xs:enumeration value="QMAX"/>
            <xs:enumeration value="RECD"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="SECV"/>
            <xs:enumeration value="SFWE"/>
            <xs:enumeration value="SPCC"/>
            <xs:enumeration value="CRDW"/>
            <xs:enumeration value="NMBW"/>
            <xs:enumeration value="AMTW"/>
            <xs:enumeration value="VNDF"/>
            <xs:enumeration value="VNDR"/>
            <xs:enumeration value="SVSU"/>
            <xs:enumeration value="CRDU"/>
            <xs:enumeration value="CMKY"/>
            <xs:enumeration value="UNBC"/>
            <xs:enumeration value="UNBP"/>
            <xs:enumeration value="UNBO"/>
            <xs:enumeration value="ORGF"/>
            <xs:enumeration value="TXND"/>
            <xs:enumeration value="TXNU"/>
            <xs:enumeration value="TTLV"/>
            <xs:enumeration value="ACTT"/>
            <xs:enumeration value="SYSM"/>
            <xs:enumeration value="SYSP"/>
            <xs:enumeration value="FRDS"/>
            <xs:enumeration value="CNTC"/>
            <xs:enumeration value="SRCH"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="ACKO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Traceability3">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification74"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier2">
        <xs:sequence>
            <xs:element name="RcncltnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfAmount6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATMF"/>
            <xs:enumeration value="AMTH"/>
            <xs:enumeration value="CRDB"/>
            <xs:enumeration value="DCNT"/>
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="AMTX"/>
            <xs:enumeration value="AMTN"/>
            <xs:enumeration value="AMTQ"/>
            <xs:enumeration value="SRCH"/>
            <xs:enumeration value="VATX"/>
            <xs:enumeration value="COMI"/>
            <xs:enumeration value="FEEI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="FEEI"/>
            <xs:enumeration value="FEEH"/>
            <xs:enumeration value="FEEP"/>
            <xs:enumeration value="FEEA"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
