msg-schemas/cards/caam/caam.010.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 May 02 15:39:16, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caam.010.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caam.010.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATMCassette2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysId" type="Max35Text"/>
            <xs:element name="LogclId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
            <xs:element name="Tp" type="ATMCassetteType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubTp" type="ATMNoteType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaTp" type="ATMMediaType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MdiaCntrs" type="ATMCassetteCounters3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCassetteCounters3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaCtgy" type="ATMMediaType3Code"/>
            <xs:element name="CurNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FlowTtls" type="ATMCassetteCounters4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCassetteCounters4">
        <xs:sequence>
            <xs:element name="Tp" type="ATMCounterType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddedNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmvdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DspnsdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DpstdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcycldNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrctdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctdNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntdNb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMCassetteType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DPST"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="RCYC"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RPLT"/>
            <xs:enumeration value="RTRC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMCommand4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABAL"/>
            <xs:enumeration value="ASTS"/>
            <xs:enumeration value="CFGT"/>
            <xs:enumeration value="CCNT"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="SNDM"/>
            <xs:enumeration value="RPTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMCommand7">
        <xs:sequence>
            <xs:element name="Tp" type="ATMCommand4Code"/>
            <xs:element name="Urgcy" type="TMSContactLevel2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdId" type="ATMCommandIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdParams" type="ATMCommandParameters1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prcr" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandParameters1Choice">
        <xs:choice>
            <xs:element name="ATMReqrdGblSts" type="ATMStatus1Code"/>
            <xs:element name="XpctdMsgFctn" type="MessageFunction8Code"/>
            <xs:element name="ReqrdCfgtnParam" type="ATMConfigurationParameter1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ATMConfigurationParameter1">
        <xs:sequence>
            <xs:element name="Tp" type="DataSetCategory7Code"/>
            <xs:element name="Vrsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMCounterType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INQU"/>
            <xs:enumeration value="CTXN"/>
            <xs:enumeration value="CTOF"/>
            <xs:enumeration value="BDAY"/>
            <xs:enumeration value="PRTN"/>
            <xs:enumeration value="OPER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMMediaType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARD"/>
            <xs:enumeration value="COIN"/>
            <xs:enumeration value="CMDT"/>
            <xs:enumeration value="CPNS"/>
            <xs:enumeration value="NOTE"/>
            <xs:enumeration value="STMP"/>
            <xs:enumeration value="UDTM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMMediaType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="FITN"/>
            <xs:enumeration value="FITU"/>
            <xs:enumeration value="SPCT"/>
            <xs:enumeration value="UNFT"/>
            <xs:enumeration value="UNRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMMessageFunction2">
        <xs:sequence>
            <xs:element name="Fctn" type="MessageFunction11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMSvcCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstSvcCd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMNoteType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLT"/>
            <xs:enumeration value="CNTR"/>
            <xs:enumeration value="IDVD"/>
            <xs:enumeration value="SCNT"/>
            <xs:enumeration value="UNFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMOperation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADJU"/>
            <xs:enumeration value="INSR"/>
            <xs:enumeration value="LOAD"/>
            <xs:enumeration value="REMV"/>
            <xs:enumeration value="UNLD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMReconciliationAcknowledgement2">
        <xs:sequence>
            <xs:element name="ATM" type="AutomatedTellerMachine3"/>
            <xs:element name="Tx" type="ATMTransaction26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMReconciliationAcknowledgementV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header32"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdATMRcncltnAck" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMRcncltnAck" type="ATMReconciliationAcknowledgement2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INSV"/>
            <xs:enumeration value="OUTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMTotals1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MdiaTp" type="ATMMediaType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMBal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMCur" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMBalNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMCurNb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMTransaction26">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfOpr" type="ATMOperation1Code"/>
            <xs:element name="TxId" type="TransactionIdentifier1"/>
            <xs:element name="RcncltnId" type="Max35Text"/>
            <xs:element name="TxRspn" type="ResponseType7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ATMTtls" type="ATMTotals1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Csstt" type="ATMCassette2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmd" type="ATMCommand7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AutomatedTellerMachine3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lctn" type="PostalAddress17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType15">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="AuthntcdData" type="AuthenticatedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATMC"/>
            <xs:enumeration value="ATMP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="CRAP"/>
            <xs:enumeration value="CPRC"/>
            <xs:enumeration value="OEXR"/>
            <xs:enumeration value="AMNT"/>
            <xs:enumeration value="LOCC"/>
            <xs:enumeration value="MNOC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ATMRcncltnAck" type="ATMReconciliationAcknowledgementV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification77">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicCoordinates1">
        <xs:sequence>
            <xs:element name="Lat" type="Max16Text"/>
            <xs:element name="Long" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicLocation1Choice">
        <xs:choice>
            <xs:element name="GeogcCordints" type="GeographicCoordinates1"/>
            <xs:element name="UTMCordints" type="UTMCoordinates1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Header32">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ATMMessageFunction2"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcStat" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN"/>
            <xs:enumeration value="CMPA"/>
            <xs:enumeration value="CMPD"/>
            <xs:enumeration value="ACMD"/>
            <xs:enumeration value="DVCC"/>
            <xs:enumeration value="DIAQ"/>
            <xs:enumeration value="DIAP"/>
            <xs:enumeration value="GSTS"/>
            <xs:enumeration value="INQQ"/>
            <xs:enumeration value="INQP"/>
            <xs:enumeration value="KYAQ"/>
            <xs:enumeration value="KYAP"/>
            <xs:enumeration value="PINQ"/>
            <xs:enumeration value="PINP"/>
            <xs:enumeration value="RJAQ"/>
            <xs:enumeration value="RJAP"/>
            <xs:enumeration value="WITV"/>
            <xs:enumeration value="WITK"/>
            <xs:enumeration value="WITQ"/>
            <xs:enumeration value="WITP"/>
            <xs:enumeration value="INQC"/>
            <xs:enumeration value="H2AP"/>
            <xs:enumeration value="H2AQ"/>
            <xs:enumeration value="TMOP"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="SKSC"/>
            <xs:enumeration value="SSTS"/>
            <xs:enumeration value="DPSK"/>
            <xs:enumeration value="DPSV"/>
            <xs:enumeration value="DPSQ"/>
            <xs:enumeration value="DPSP"/>
            <xs:enumeration value="EXPK"/>
            <xs:enumeration value="EXPV"/>
            <xs:enumeration value="TRFQ"/>
            <xs:enumeration value="TRFP"/>
            <xs:enumeration value="RPTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN"/>
            <xs:enumeration value="GSTS"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="INQC"/>
            <xs:enumeration value="KEYQ"/>
            <xs:enumeration value="SSTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ATMG"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="HSTG"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="OATM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress17">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GLctn" type="GeographicLocation1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient4Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
            <xs:element name="KEK" type="KEK4"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="DECL"/>
            <xs:enumeration value="PART"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType7">
        <xs:sequence>
            <xs:element name="Rspn" type="Response4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="ResultDetail4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRspnInf" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultDetail4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTF"/>
            <xs:enumeration value="ACQS"/>
            <xs:enumeration value="AMLV"/>
            <xs:enumeration value="AMTA"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="BANK"/>
            <xs:enumeration value="CRDR"/>
            <xs:enumeration value="CRDF"/>
            <xs:enumeration value="ACTC"/>
            <xs:enumeration value="CTVG"/>
            <xs:enumeration value="DBER"/>
            <xs:enumeration value="FEES"/>
            <xs:enumeration value="TXNL"/>
            <xs:enumeration value="AMTD"/>
            <xs:enumeration value="NMBD"/>
            <xs:enumeration value="CRDX"/>
            <xs:enumeration value="FDCL"/>
            <xs:enumeration value="FMTR"/>
            <xs:enumeration value="TXNG"/>
            <xs:enumeration value="FNDI"/>
            <xs:enumeration value="ACPI"/>
            <xs:enumeration value="AMTI"/>
            <xs:enumeration value="ADDI"/>
            <xs:enumeration value="BRHI"/>
            <xs:enumeration value="CHDI"/>
            <xs:enumeration value="CRDI"/>
            <xs:enumeration value="CTFV"/>
            <xs:enumeration value="AMTO"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="TKKO"/>
            <xs:enumeration value="SGNI"/>
            <xs:enumeration value="TKID"/>
            <xs:enumeration value="TXNV"/>
            <xs:enumeration value="DATI"/>
            <xs:enumeration value="ISSP"/>
            <xs:enumeration value="ISSF"/>
            <xs:enumeration value="ISSO"/>
            <xs:enumeration value="ISST"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="KEYS"/>
            <xs:enumeration value="LBLA"/>
            <xs:enumeration value="CRDL"/>
            <xs:enumeration value="MACR"/>
            <xs:enumeration value="MACK"/>
            <xs:enumeration value="ICCM"/>
            <xs:enumeration value="PINN"/>
            <xs:enumeration value="CRDA"/>
            <xs:enumeration value="LBLU"/>
            <xs:enumeration value="PINA"/>
            <xs:enumeration value="NPRA"/>
            <xs:enumeration value="OFFL"/>
            <xs:enumeration value="ONLP"/>
            <xs:enumeration value="NPRC"/>
            <xs:enumeration value="TXNM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="BALO"/>
            <xs:enumeration value="SEQO"/>
            <xs:enumeration value="PINC"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINS"/>
            <xs:enumeration value="PINX"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="QMAX"/>
            <xs:enumeration value="RECD"/>
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="SECV"/>
            <xs:enumeration value="SRVU"/>
            <xs:enumeration value="SFWE"/>
            <xs:enumeration value="SPCC"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="SRCH"/>
            <xs:enumeration value="CNTC"/>
            <xs:enumeration value="FRDS"/>
            <xs:enumeration value="SYSP"/>
            <xs:enumeration value="SYSM"/>
            <xs:enumeration value="TRMI"/>
            <xs:enumeration value="ACTT"/>
            <xs:enumeration value="TTLV"/>
            <xs:enumeration value="TXNU"/>
            <xs:enumeration value="TXND"/>
            <xs:enumeration value="ORGF"/>
            <xs:enumeration value="UNBO"/>
            <xs:enumeration value="UNBP"/>
            <xs:enumeration value="UNBC"/>
            <xs:enumeration value="CMKY"/>
            <xs:enumeration value="CRDU"/>
            <xs:enumeration value="SVSU"/>
            <xs:enumeration value="VNDR"/>
            <xs:enumeration value="VNDF"/>
            <xs:enumeration value="AMTW"/>
            <xs:enumeration value="NMBW"/>
            <xs:enumeration value="CRDW"/>
            <xs:enumeration value="MEDI"/>
            <xs:enumeration value="SRVI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TMSContactLevel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="CRIT"/>
            <xs:enumeration value="DTIM"/>
            <xs:enumeration value="ENCS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Traceability4">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification77"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime"/>
            <xs:element name="TxRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UTMCoordinates1">
        <xs:sequence>
            <xs:element name="UTMZone" type="Max16Text"/>
            <xs:element name="UTMEstwrd" type="Number"/>
            <xs:element name="UTMNrthwrd" type="Number"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
