msg-schemas/cards/caam/caam.002.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 May 02 15:39:16, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caam.002.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caam.002.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ATMCommand2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABAL"/>
            <xs:enumeration value="ASTS"/>
            <xs:enumeration value="CFGT"/>
            <xs:enumeration value="CCNT"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="KACT"/>
            <xs:enumeration value="KDAC"/>
            <xs:enumeration value="KDWL"/>
            <xs:enumeration value="KRMV"/>
            <xs:enumeration value="SCFU"/>
            <xs:enumeration value="SSCU"/>
            <xs:enumeration value="SSTU"/>
            <xs:enumeration value="SNDM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMCommand4">
        <xs:sequence>
            <xs:element name="Tp" type="ATMCommand2Code"/>
            <xs:element name="Urgcy" type="TMSContactLevel2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdId" type="ATMCommandIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="ATMCommandReason1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TracRsn" type="ATMCommandReason1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmdParams" type="ATMCommandParameters2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prcr" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandParameters1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqrdCfgtn" type="ATMSecurityConfiguration1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqrdSts" type="ATMStatus2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMCommandParameters2Choice">
        <xs:choice>
            <xs:element name="ATMReqrdGblSts" type="ATMStatus1Code"/>
            <xs:element name="XpctdMsgFctn" type="MessageFunction8Code"/>
            <xs:element name="ReqrdCfgtnParam" type="ATMConfigurationParameter1"/>
            <xs:element name="ReqrdSctySchme" type="ATMSecurityScheme2Code"/>
            <xs:element name="SctyDvc" type="ATMCommandParameters1"/>
            <xs:element name="Key" type="ATMConfigurationParameter2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ATMCommandReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIAG"/>
            <xs:enumeration value="MONI"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="SYNC"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ATMConfigurationParameter1">
        <xs:sequence>
            <xs:element name="Tp" type="DataSetCategory7Code"/>
            <xs:element name="Vrsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMConfigurationParameter2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyCtgy" type="CryptographicKeyType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstChllng" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="KeyProps" type="KEKIdentifier4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMDeviceControl1">
        <xs:sequence>
            <xs:element name="Envt" type="ATMEnvironment7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmd" type="ATMCommand4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMDeviceControlV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdATMDvcCtrl" type="ContentInformationType10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMDvcCtrl" type="ATMDeviceControl1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMEnvironment7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMMgr" type="Acquirer8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstgNtty" type="TerminalHosting1"/>
            <xs:element name="ATM" type="AutomatedTellerMachine3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMMessageFunction2">
        <xs:sequence>
            <xs:element name="Fctn" type="MessageFunction11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMSvcCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstSvcCd" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMSecurityConfiguration1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Keys" type="ATMSecurityConfiguration2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ncrptn" type="ATMSecurityConfiguration3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MACAlgo" type="Algorithm12Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgtlSgntr" type="ATMSecurityConfiguration4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PIN" type="ATMSecurityConfiguration5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgPrtcn" type="MessageProtection1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMSecurityConfiguration2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxSmmtrcKey" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxAsmmtrcKey" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRSAKeyLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxRootKeyLngth" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMSecurityConfiguration3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AsmmtrcNcrptn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsmmtrcKeyStdId" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AsmmtrcNcrptnAlgo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SmmtrcTrnsprtKey" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SmmtrcTrnsprtKeyAlgo" type="Algorithm13Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SmmtrcNcrptnAlgo" type="Algorithm15Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMSecurityConfiguration4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxCerts" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxSgntrs" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DgtlSgntrAlgo" type="Algorithm14Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMSecurityConfiguration5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PINFrmt" type="PINFormat4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PINLngthCpblties" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATMSecurityScheme2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPK"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="FRAN"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="LUXG"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="PKIP"/>
            <xs:enumeration value="SIGN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INSV"/>
            <xs:enumeration value="OUTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ATMStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPER"/>
            <xs:enumeration value="OUTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Acquirer7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrgInstn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brnch" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer8">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApplVrsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERS2"/>
            <xs:enumeration value="ERS1"/>
            <xs:enumeration value="RPSS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification16">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification17">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AutomatedTellerMachine3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lctn" type="PostalAddress17"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType13">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CryptographicKeyType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPL"/>
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="DYNC"/>
            <xs:enumeration value="KENC"/>
            <xs:enumeration value="MACK"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="WRKG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATMC"/>
            <xs:enumeration value="ATMP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="CRAP"/>
            <xs:enumeration value="CPRC"/>
            <xs:enumeration value="OEXR"/>
            <xs:enumeration value="AMNT"/>
            <xs:enumeration value="LOCC"/>
            <xs:enumeration value="MNOC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ATMDvcCtrl" type="ATMDeviceControlV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification77">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicCoordinates1">
        <xs:sequence>
            <xs:element name="Lat" type="Max16Text"/>
            <xs:element name="Long" type="Max16Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicLocation1Choice">
        <xs:choice>
            <xs:element name="GeogcCordints" type="GeographicCoordinates1"/>
            <xs:element name="UTMCordints" type="UTMCoordinates1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Header31">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ATMMessageFunction2"/>
            <xs:element name="PrtcolVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcStat" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVrsn" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN"/>
            <xs:enumeration value="CMPA"/>
            <xs:enumeration value="CMPD"/>
            <xs:enumeration value="ACMD"/>
            <xs:enumeration value="DVCC"/>
            <xs:enumeration value="DIAQ"/>
            <xs:enumeration value="DIAP"/>
            <xs:enumeration value="GSTS"/>
            <xs:enumeration value="INQQ"/>
            <xs:enumeration value="INQP"/>
            <xs:enumeration value="KYAQ"/>
            <xs:enumeration value="KYAP"/>
            <xs:enumeration value="PINQ"/>
            <xs:enumeration value="PINP"/>
            <xs:enumeration value="RJAQ"/>
            <xs:enumeration value="RJAP"/>
            <xs:enumeration value="WITV"/>
            <xs:enumeration value="WITK"/>
            <xs:enumeration value="WITQ"/>
            <xs:enumeration value="WITP"/>
            <xs:enumeration value="INQC"/>
            <xs:enumeration value="H2AP"/>
            <xs:enumeration value="H2AQ"/>
            <xs:enumeration value="TMOP"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="SKSC"/>
            <xs:enumeration value="SSTS"/>
            <xs:enumeration value="DPSK"/>
            <xs:enumeration value="DPSV"/>
            <xs:enumeration value="DPSQ"/>
            <xs:enumeration value="DPSP"/>
            <xs:enumeration value="EXPK"/>
            <xs:enumeration value="EXPV"/>
            <xs:enumeration value="TRFQ"/>
            <xs:enumeration value="TRFP"/>
            <xs:enumeration value="RPTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN"/>
            <xs:enumeration value="GSTS"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="INQC"/>
            <xs:enumeration value="KEYQ"/>
            <xs:enumeration value="SSTS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageProtection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="MACB"/>
            <xs:enumeration value="MACM"/>
            <xs:enumeration value="UNPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PINFormat4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANSI"/>
            <xs:enumeration value="BNCM"/>
            <xs:enumeration value="BKSY"/>
            <xs:enumeration value="DBLD"/>
            <xs:enumeration value="DBLC"/>
            <xs:enumeration value="ECI2"/>
            <xs:enumeration value="ECI3"/>
            <xs:enumeration value="EMVS"/>
            <xs:enumeration value="IBM3"/>
            <xs:enumeration value="ISO0"/>
            <xs:enumeration value="ISO1"/>
            <xs:enumeration value="ISO2"/>
            <xs:enumeration value="ISO3"/>
            <xs:enumeration value="ISO4"/>
            <xs:enumeration value="ISO5"/>
            <xs:enumeration value="VIS2"/>
            <xs:enumeration value="VIS3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter8">
        <xs:sequence>
            <xs:element name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
            <xs:element name="SaltLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrlrFld" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ATMG"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="HSTG"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="OATM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress17">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="2" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GLctn" type="GeographicLocation1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient4Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
            <xs:element name="KEK" type="KEK4"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sgnr" type="Signer3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgnrId" type="Recipient5Choice"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification17"/>
            <xs:element name="Sgntr" type="Max3000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TMSContactLevel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASAP"/>
            <xs:enumeration value="CRIT"/>
            <xs:enumeration value="DTIM"/>
            <xs:enumeration value="ENCS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TerminalHosting1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctgy" type="TransactionEnvironment3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability4">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification77"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text"/>
            <xs:element name="TracDtTmIn" type="ISODateTime"/>
            <xs:element name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionEnvironment3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BRCH"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="UTMCoordinates1">
        <xs:sequence>
            <xs:element name="UTMZone" type="Max16Text"/>
            <xs:element name="UTMEstwrd" type="Number"/>
            <xs:element name="UTMNrthwrd" type="Number"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
