msg-schemas/cards/caam/caam.008.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2015 Aug 24 16:29:10, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caam.008.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caam.008.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATMEnvironment9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMEnvironment9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Environment of the ATM.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acquirer of the ATM transaction, in charge of the funds settlement with the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMMgrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMManagerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the ATM manager.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ATM" type="AutomatedTellerMachine7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATM</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ATMMessageFunction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ATMMessageFunction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to an ATM message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fctn" type="MessageFunction7Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of requested function.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ATMSvcCd" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMServiceCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Codification of the type of service for the ATM.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HstSvcCd" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostServiceCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Codification of the type of service for the ATM manager host.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Acquirer7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Acquirer of the withdrawal transaction, in charge of the funds settlement with the issuer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrgInstn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcquiringInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Brnch" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Branch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the acquirer branch.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm11Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm11Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a digest algorithm.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA256</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-256 as defined in FIPS 180-1 and 2 - (ASN.1 Object Identifier: id-sha256).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HS38">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA384</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-384 as defined in FIPS 180-1 and 2 - (ASN.1 Object Identifier: id-sha384).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HS51">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA512</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-512 as defined in FIPS 180-1 and 2 - (ASN.1 Object Identifier: id-sha512).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HS01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-1 as defined in FIPS 180-1 - (ASN.1 Object Identifier: id-sha1).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm12Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms for the MAC (Message Authentication Code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetailCBCMAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail CBC (Chaining Block Cypher) MAC (Message Authentication Code) (cf. ISO 9807, ANSI X9.19) - (ASN.1 Object Identifier: id-retail-cbc-mac).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetailSHA256MAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail-CBC-MAC with SHA-256 (Secure HAsh standard)  - (ASN.1 Object Identifier: id-retail-cbc-mac-sha-256).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMA1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA256CMACwithAES128</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CMAC (Cipher based Message Authentication Code) defined by the National Institute of Standards and Technology (NIST 800-38B - May 2005), using the block cipher Advanced Encryption Standard with a 128 bits cryptographic key, approved by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard). The CMAC algorithm is computed on the SHA-256 digest of the message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCC1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetailSHA1MAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail-CBC-MAC with SHA-1 (Secure Hash standard) - (ASN.1 Object Identifier: id-retail-cbc-mac-sha-1).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMA9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA384CMACwithAES192</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CMAC (Cipher based Message Authentication Code) defined by the National Institute of Standards and Technology (NIST 800-38B - May 2005), using the block cipher Advanced Encryption Standard with a 192 bits cryptographic key, approved by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard). The CMAC algorithm is computed on the SHA-384 digest of the message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMA5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA512CMACwithAES256</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CMAC (Cipher based Message Authentication Code) defined by the National Institute of Standards and Technology (NIST 800-38B - May 2005), using the block cipher Advanced Encryption Standard with a 256 bits cryptographic key, approved by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard). The CMAC algorithm is computed on the SHA-512 digest of the message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm13Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms for the protection of transported keys.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AES128CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AES (Advanced Encryption Standard) CBC (Chaining Block Cypher) encryption with a 128 bits cryptographic key as defined by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="E3DC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DES112CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Triple DES (Data Encryption Standard) CBC (Chaining Block Cypher) encryption with double length key (112 Bit) as defined in FIPS PUB 46-3 - (ASN.1 Object Identifier: des-ede3-cbc).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DKP9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DUKPT2009</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DUKPT (Derived Unique Key Per Transaction) algorithm, as specified in ANSI X9.24-2009 Annex A.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UKPT</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">UKPT (Unique Key Per Transaction) or Master Session Key key encryption - (ASN.1 Object Identifier: id-ukpt-wrap).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKA1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UKPTwithAES128</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">UKPT (Unique Key Per Transaction) or Master Session Key key encryption, using Advanced Encryption Standard with a 128 bits cryptographic key, approved by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EA9C">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AES192CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AES (Advanced Encryption Standard) CBC (Chaining Block Cypher) encryption with a 192 bits cryptographic key as defined by the Federal Information Processing Standards (FIPS 197 – November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EA5C">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AES256CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AES (Advanced Encryption Standard) CBC (Chaining Block Cypher) encryption with a 256 bits cryptographic key as defined by the Federal Information Processing Standards (FIPS 197 – November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm15Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms for encryptions with a symmetric cryptographic key.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AES128CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AES (Advanced Encryption Standard) CBC (Chaining Block Cypher) encryption with a 128 bits cryptographic key as defined by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="E3DC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DES112CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Triple DES (Data Encryption Standard) CBC (Chaining Block Cypher) encryption with double length key (112 Bit) as defined in FIPS PUB 46-3 - (ASN.1 Object Identifier: des-ede3-cbc).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EA9C">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AES192CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AES (Advanced Encryption Standard) CBC (Chaining Block Cypher) encryption with a 192 bits cryptographic key as defined by the Federal Information Processing Standards (FIPS 197 – November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EA5C">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AES256CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AES (Advanced Encryption Standard) CBC (Chaining Block Cypher) encryption with a 256 bits cryptographic key as defined by the Federal Information Processing Standards (FIPS 197 – November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Asymmetric encryption algorithm of a transport key.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RSAEncryption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RSA encryption algorithm - (ASN.1 Object Identifier: rsaEncryption).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSAO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RSAES-OAEP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RSA encryption scheme based on Optimal Asymmetric Encryption scheme (PKCS #1 version 2.1) - (ASN.1 Object Identifier: id-RSAES-OAEP).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm8Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Mask generator functions of the RSAES-OAEP encryption algorithm (RSA Encryption Scheme: Optimal Asymmetric Encryption Padding).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MGF1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Generator Function, used for RSA encryption and RSA igital signature (PKCS #1 version 2.1) - (ASN.1 Object Identifier: id-mgf1).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms and parameters for the protection of transported keys by an asymmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Asymmetric encryption algorithm of a transport key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters of the encryption algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification12</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Mask generator function cryptographic algorithm and parameters.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Mask generator function cryptographic algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the mask generator function cryptographic algorithm</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithm and parameters for the protection of the transported key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the encryption algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithm and parameters for encryptions with a symmetric cryptographic key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the encryption algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated with the CBC (Chain Block Chaining) encryption algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a cryptographic algorithm and parameters for the MAC computation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the MAC algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the MAC algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AttributeType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of attribute of a distinguished name (DN).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommonName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common name of the attribute (ASN.1 Object Identifier: id-at-commonName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Locality</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Locality of the attribute (ASN.1 Object Identifier: id-at-localityName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organization name of the attribute  (ASN.1 Object Identifier: id-at-organizationName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OUAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationUnitName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organization unit name of the attribute (ASN.1 Object Identifier: id-at-organizationalUnitName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country name of the attribute (ASN.1 Object Identifier: id-at-countryName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AuthenticatedData4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Message authentication code (MAC), computed on the data to protect with an encryption key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Session key or protection key identification used by the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MACAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to compute message authentication code (MAC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data to authenticate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MAC" type="Max140Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message authentication code value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AutomatedTellerMachine7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AutomatedTellerMachine7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">ATM information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM terminal device identification for the acquirer and the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM terminal device identification for the ATM manager.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM terminal device identification for the branch.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BytePadding1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Byte padding for a cypher block chaining mode encryption, if the padding is not implicit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LengthPadding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message to encrypt is completed by a byte value containing the total number of added bytes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NUL8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Null80Padding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message to encrypt is completed by one bit of value 1, followed by null bits until the encryption block length is reached.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NULG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NullLengthPadding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message to encrypt is completed by null byte values, the last byte containing the total number of added bytes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NULL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NullPadding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message to encrypt is completed by null bytes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RandomPadding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message to encrypt is completed by random value, the last byte containing the total number of added bytes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CertificateIssuer1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name (see X.509).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelativeDistinguishedName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relative distinguished name inside a X.509 certificate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContentInformationType10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General cryptographic message syntax (CMS) containing encrypted data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data protection.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EnvlpdData" type="EnvelopedData4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EnvelopedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protection by encryption or by a digital envelope, with an encryption key.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContentInformationType15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General cryptographic message syntax (CMS) containing authenticated data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data protection.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuthntcdData" type="AuthenticatedData4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticatedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protection by a message authentication code (MAC).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContentType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of a Cryptographic Message Syntax (CMS) data structure.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlainData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Generic, non cryptographic, or unqualified data content - (ASN.1 Object Identifier: id-data).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Digital signature - (ASN.1 Object Identifier: id-signedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EnvelopedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data, with encryption key - (ASN.1 Object Identifier: id-envelopedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DGST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest - (ASN.1 Object Identifier: id-digestedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AUTH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticatedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">MAC (Message Authentication Code), with encryption key - (ASN.1 Object Identifier: id-ct-authData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="HstToATMAck" type="HostToATMAcknowledgementV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Data to authenticate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data which have been authenticated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Content</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Actual data to authenticate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EncryptedContent3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Encrypted data with an encryption key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data which have been encrypted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm used to encrypt the data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdData" type="Max100KBinary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data, result of the content encryption.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EncryptionFormat1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Format of data before encryption, if the format is not plaintext or implicit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TR31</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Format of a cryptographic key specified by the ANSI X9 TR-31 standard.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TR34">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TR34</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Format of a cryptographic key specified by the ANSI X9 TR-34 standard.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EnvelopedData4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Encrypted data with encryption key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Session key or identification of the protection key used by the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protection by encryption (digital envelope), with an encryption key.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification77">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification77</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="PartyType12Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType12Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of the entity (ISO 3166-1 alpha-2 or alpha-3)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header20">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Header20</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the protocol management on a segment of the path from the ATM to the acquirer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgFctn" type="ATMMessageFunction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageFunction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtcolVrsn" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtocolVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the ATM protocol specifications.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgId" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an exchange occurrence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InitgPty" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that has initiated the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that is the recipient of the message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcStat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessState</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the sender of the message inside the process flow.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Traceability</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the merchant to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HostToATMAcknowledgement1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HostToATMAcknowledgement1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the acknowledgement from an ATM to contact the ATM manager.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Envt" type="ATMEnvironment9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Environment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Environment of the ATM.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HostToATMAcknowledgementV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HostToATMAcknowledgementV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The HostToATMAcknowledgement message is sent by an ATM to a host to acknowledge the receipt of a HostToATMRequest message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Hdr" type="Header20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Header</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the protocol management on a segment of the path from the ATM to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdHstToATMAck" type="ContentInformationType10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtectedHostToATMAcknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted body of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HstToATMAck" type="HostToATMAcknowledgement1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostToATMAcknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the acknowledgement from an ATM to contact the ATM manager.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityTrailer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trailer of the message containing a MAC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IssuerAndSerialNumber1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name and serial number  (see X.509).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SrlNb" type="Max35Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SerialNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate serial number (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KEK4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Key encryption key (KEK), using previously distributed symmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KEKId" type="KEKIdentifier2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KEKIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to encrypt the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdKey" type="Max500Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedKey</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KEKIdentifier2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a key encryption key (KEK), using previously distributed symmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyVrsn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of usages of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification used for derivation of a unique key from a master key provided for the data protection.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KeyTransport4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Key encryption key (KEK), encrypted with a previously distributed asymmetric public key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcptId" type="Recipient5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a cryptographic asymmetric key for the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to encrypt the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdKey" type="Max5000Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedKey</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max100KBinary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Binary data of 100K maximum.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 140 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 35 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5000Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 5000 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 500 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageFunction7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to an ATM message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BALN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provide the ATM counters resettting those that are applicable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMCompletionAcknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acknowledgement of a completion advice.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMCompletionAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice of an ATM transaction completion.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACMD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Global ATM commands.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMDeviceControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maintenance commands to perform.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMDiagnosticRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a diagnostic.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMDiagnosticResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a diagnostic request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GSTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMGlobalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Global status of the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMInquiryRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for an inquiry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMInquiryResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to an inquiry request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KYAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMKeyDownloadRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a key download.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KYAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMKeyDownloadResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a key download.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PINQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMPINManagementRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a cardholder PIN management.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PINP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMPINManagementResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a cardholder PIN management request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMRequestReject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejected request message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMResponseReject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejected response message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response of a withdrawal transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalAknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acknowledgement of a withdrawal transaction advice.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for a withdrawal transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMWithdrawalResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to a withdrawal transaction request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountersInquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current value of counters, no reinitialisation of the counters.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="H2AP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostToATMAcknowledgement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acknowledgement of a request from a host to an ATM for contacting.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="H2AQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostToATMRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request from a host to an ATM to be contacted by this ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TMOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Logical or physical operation on the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security Commands.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security detailed report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SKSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityKeyCompletion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of the key download with the status of the downloaded keys including key check values.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityKeyStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of cryptographic keys.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min2Max3AlphaText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alpha string with a minimum length of 2 characters and  a maximum length of 3 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min5Max16Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a minimum length of 5 bytes, and a maximum length of 16 bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters of the asymmetric encryption algorithm.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptionFormat</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Format of data before encryption, if the format is not plaintext or implicit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the digest algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaskGeneratorAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Mask generator function cryptographic algorithm and parameters.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters associated to a mask generator cryptographic function.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Digest algorithm used in the mask generator function.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters associated to a cryptographic encryption algorithm.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptionFormat</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Format of data before encryption, if the format is not plaintext or implicit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialisationVector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initialisation vector of a cipher block chaining (CBC) mode encryption.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BytePadding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Byte padding for a cypher block chaining mode encryption, if the padding is not implicit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the MAC algorithm.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialisationVector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initialisation vector of a cipher block chaining (CBC) mode encryption.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BytePadding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Byte padding for a cypher block chaining mode encryption, if the padding is not implicit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType12Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType12Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity acquiring card transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ATMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ATMManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity managing the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuerProcessor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity providing issuing card payment processing services on behalf on an issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelegateIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party to whom the card issuer delegates to authorise card payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HSTG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HostingEntity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity hosting the ATM.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OATM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingATM</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ATM initiating the transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Recipient4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Recipient4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) for the recipient.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyTransport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encryption key using previously distributed asymmetric public key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KEK" type="KEK4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KEK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Key encryption key using previously distributed symmetric key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyIdr" type="KEKIdentifier2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a protection key without a session key, shared and previously exchanged between the initiator and the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Recipient5Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a cryptographic asymmetric key.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerAndSerialNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name and serial number (see ITU X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyIdr" type="KEKIdentifier2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a cryptographic asymmetric key, previously exchanged between initiator and recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RelativeDistinguishedName1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Relative distinguished name defined by X.500 and X.509.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttributeType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of attribute of a distinguished name (see X.500).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttrVal" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttributeValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the attribute of a distinguished name (see X.500).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Traceability4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the ATM to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification77">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelayIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a partner of a message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the relay node in the path, to enable identification of several hosts in parallel.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmIn" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of incoming data exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmOut" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the outgoing exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
