msg-schemas/cards/catm/catm.001.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 24 16:21:32, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:catm.001.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:catm.001.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="Algorithm11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
            <xs:enumeration value="HS01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC"/>
            <xs:enumeration value="MCCS"/>
            <xs:enumeration value="CMA1"/>
            <xs:enumeration value="MCC1"/>
            <xs:enumeration value="CMA9"/>
            <xs:enumeration value="CMA5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERS2"/>
            <xs:enumeration value="ERS1"/>
            <xs:enumeration value="RPSS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification11">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification12">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification13">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification14">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification15">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification16">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification17">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm14Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttendanceContext1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATTD"/>
            <xs:enumeration value="SATT"/>
            <xs:enumeration value="UATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element name="MACAlgo" type="AlgorithmIdentification15"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="MAC" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAGC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="BRCD"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="CICC"/>
            <xs:enumeration value="DFLE"/>
            <xs:enumeration value="CTLS"/>
            <xs:enumeration value="ECTL"/>
            <xs:enumeration value="CDFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardholderVerificationCapability4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="CHDT"/>
            <xs:enumeration value="MNSG"/>
            <xs:enumeration value="MNVR"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="FDSG"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="FEPN"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="SCEC"/>
            <xs:enumeration value="NBIO"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationCharacteristics2">
        <xs:sequence>
            <xs:element name="ComTp" type="POICommunicationType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RmotPty" type="PartyType7Code"/>
            <xs:element name="Actv" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType10">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="EnvlpdData" type="EnvelopedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType12">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstdData" type="DigestedData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CryptographicKey5">
        <xs:sequence>
            <xs:element name="Id" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="Max35Binary"/>
            <xs:element name="Vrsn" type="Max256Text"/>
            <xs:element name="Tp" type="CryptographicKeyType3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Fctn" type="KeyUsage1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtnDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DeactvtnDt" type="ISODateTime"/>
            <xs:element name="KeyVal" type="ContentInformationType10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CryptographicKeyType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AES2"/>
            <xs:enumeration value="EDE3"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="AES9"/>
            <xs:enumeration value="AES5"/>
            <xs:enumeration value="EDE4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPR"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TXCP"/>
            <xs:enumeration value="AKCP"/>
            <xs:enumeration value="DLGT"/>
            <xs:enumeration value="MGTP"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SWPK"/>
            <xs:enumeration value="STRP"/>
            <xs:enumeration value="TRPR"/>
            <xs:enumeration value="VDPR"/>
            <xs:enumeration value="PARA"/>
            <xs:enumeration value="TMSP"/>
            <xs:enumeration value="CRTF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataSetIdentification6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max256Text"/>
            <xs:element name="Tp" type="DataSetCategory9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DigestedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element name="Dgst" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisplayCapabilities4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Dstn" type="UserInterface4Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblFrmt" type="OutputFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfLines" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LineWidth" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblLang" type="LanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="StsRpt" type="StatusReportV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent3">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification14"/>
            <xs:element name="NcrptdData" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptionFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="TR34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification48">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification71">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification92">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="Min2Max3AlphaText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmotAccs" type="NetworkParameters5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header27">
        <xs:sequence>
            <xs:element name="DwnldTrf" type="TrueFalseIndicator"/>
            <xs:element name="FrmtVrsn" type="Max6Text"/>
            <xs:element name="XchgId" type="Number"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element name="InitgPty" type="GenericIdentification71"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification92"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier2"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification13"/>
            <xs:element name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification11"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="KeyUsage1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENCR"/>
            <xs:enumeration value="DCPT"/>
            <xs:enumeration value="DENC"/>
            <xs:enumeration value="DDEC"/>
            <xs:enumeration value="TRNI"/>
            <xs:enumeration value="TRNX"/>
            <xs:enumeration value="MACG"/>
            <xs:enumeration value="MACV"/>
            <xs:enumeration value="SIGG"/>
            <xs:enumeration value="SUGV"/>
            <xs:enumeration value="PINE"/>
            <xs:enumeration value="PIND"/>
            <xs:enumeration value="PINV"/>
            <xs:enumeration value="KEYG"/>
            <xs:enumeration value="KEYI"/>
            <xs:enumeration value="KEYX"/>
            <xs:enumeration value="KEYD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemoryCharacteristics1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="TtlSz" type="DecimalNumber"/>
            <xs:element name="FreeSz" type="DecimalNumber"/>
            <xs:element name="Unit" type="MemoryUnit1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MemoryUnit1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BYTE"/>
            <xs:enumeration value="EXAB"/>
            <xs:enumeration value="GIGA"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="MEGA"/>
            <xs:enumeration value="PETA"/>
            <xs:enumeration value="TERA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3AlphaText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NetworkParameters4">
        <xs:sequence>
            <xs:element name="NtwkTp" type="NetworkType1Code"/>
            <xs:element name="AdrVal" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetworkParameters5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Adr" type="NetworkParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AccsCd" type="Max35Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCert" type="Max10KBinary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SvrCertIdr" type="Max140Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntCert" type="Max10KBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyPrfl" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NetworkType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IPNW"/>
            <xs:enumeration value="PSTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OnLineCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFLN"/>
            <xs:enumeration value="ONLN"/>
            <xs:enumeration value="SMON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POICommunicationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLTH"/>
            <xs:enumeration value="ETHR"/>
            <xs:enumeration value="GPRS"/>
            <xs:enumeration value="GSMF"/>
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="RS23"/>
            <xs:enumeration value="USBD"/>
            <xs:enumeration value="USBH"/>
            <xs:enumeration value="WIFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentAssessment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPL"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="EVAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="OUTD"/>
            <xs:enumeration value="OPER"/>
            <xs:enumeration value="DACT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TLPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SERV"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="APLI"/>
            <xs:enumeration value="EMVK"/>
            <xs:enumeration value="EMVO"/>
            <xs:enumeration value="MDWR"/>
            <xs:enumeration value="DRVR"/>
            <xs:enumeration value="OPST"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="TMSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter8">
        <xs:sequence>
            <xs:element name="DgstAlgo" type="Algorithm11Code"/>
            <xs:element name="MskGnrtrAlgo" type="AlgorithmIdentification12"/>
            <xs:element name="SaltLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrlrFld" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI"/>
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="MTMG"/>
            <xs:enumeration value="TMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="MTMG"/>
            <xs:enumeration value="TMGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ITAG"/>
            <xs:enumeration value="PCPT"/>
            <xs:enumeration value="TMGT"/>
            <xs:enumeration value="SALE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PointOfInteractionCapabilities6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardRdngCpblties" type="CardDataReading5Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrdhldrVrfctnCpblties" type="CardholderVerificationCapability4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PINLngthCpblties" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlCdLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MxScrptLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCaptrCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCpblties" type="OnLineCapability1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgCpblties" type="DisplayCapabilities4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponent6">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentType4Code"/>
            <xs:element name="Id" type="PointOfInteractionComponentIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="PointOfInteractionComponentStatus3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="StdCmplc" type="GenericIdentification48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chrtcs" type="PointOfInteractionComponentCharacteristics2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Assmnt" type="PointOfInteractionComponentAssessment1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentAssessment1">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentAssessment1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XprtnDt" type="ISODateTime"/>
            <xs:element name="Nb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentCharacteristics2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Mmry" type="MemoryCharacteristics1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Com" type="CommunicationCharacteristics2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyAccsMdls" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbcbrIdntyMdls" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyChckVal" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponentStatus3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VrsnNb" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="POIComponentStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient4Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport4"/>
            <xs:element name="KEK" type="KEK4"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max5000Binary"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sgnr" type="Signer3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgnrId" type="Recipient5Choice"/>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification16"/>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification17"/>
            <xs:element name="Sgntr" type="Max3000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReport5">
        <xs:sequence>
            <xs:element name="POIId" type="GenericIdentification71"/>
            <xs:element name="TermnlMgrId" type="GenericIdentification71"/>
            <xs:element name="DataSet" type="TerminalManagementDataSet16"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReportContent5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="POICpblties" type="PointOfInteractionCapabilities6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="POICmpnt" type="PointOfInteractionComponent6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCntxt" type="AttendanceContext1Code"/>
            <xs:element name="POIDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DataSetReqrd" type="TerminalManagementDataSet17"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Evt" type="TMSEvent4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Errs" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReportV05">
        <xs:sequence>
            <xs:element name="Hdr" type="Header27"/>
            <xs:element name="StsRpt" type="StatusReport5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TMSActionIdentification4">
        <xs:sequence>
            <xs:element name="ActnTp" type="TerminalManagementAction2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DataSetId" type="DataSetIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TMSEvent4">
        <xs:sequence>
            <xs:element name="TmStmp" type="ISODateTime"/>
            <xs:element name="Rslt" type="TerminalManagementActionResult1Code"/>
            <xs:element name="ActnId" type="TMSActionIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlErrInf" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TerminalManagementAction2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="DCTV"/>
            <xs:enumeration value="DELT"/>
            <xs:enumeration value="DWNL"/>
            <xs:enumeration value="INST"/>
            <xs:enumeration value="RSTR"/>
            <xs:enumeration value="UPLD"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalManagementActionResult1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCD"/>
            <xs:enumeration value="CNTE"/>
            <xs:enumeration value="FMTE"/>
            <xs:enumeration value="INVC"/>
            <xs:enumeration value="LENE"/>
            <xs:enumeration value="OVER"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="NSUP"/>
            <xs:enumeration value="SIGE"/>
            <xs:enumeration value="SUCC"/>
            <xs:enumeration value="SYNE"/>
            <xs:enumeration value="TIMO"/>
            <xs:enumeration value="UKDT"/>
            <xs:enumeration value="UKRF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TerminalManagementDataSet16">
        <xs:sequence>
            <xs:element name="Id" type="DataSetIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqCntr" type="Max9NumericText"/>
            <xs:element name="Cntt" type="StatusReportContent5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TerminalManagementDataSet17">
        <xs:sequence>
            <xs:element name="Id" type="DataSetIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POIChllng" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TMChllng" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnKey" type="CryptographicKey5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlgtnProof" type="Max5000Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdDlgtnProof" type="ContentInformationType12"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UserInterface4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="MRCP"/>
            <xs:enumeration value="CRDO"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
